@import "tailwindcss";

* {
  /* color: #444; */
}

@theme {
  --font-logo: "Harmattan", sans-serif
}

@layer components  {
  .btnSideBar {
    @apply flex items-center gap-3 text-xl hover:bg-indigo-50 p-3
  }
  .gridCabins {
    @apply grid grid-cols-[.6fr_1.8fr_2.2fr_1fr_1fr_1fr] items-center gap-2
  }
  .inputForm {
    @apply bg-gray-50 border m-auto border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 w-[50%];
  }
  .errorStyle {
    @apply w-[20%] text-red-500 rounded p-1 text-center;
  }
}

.btnSideBar:hover svg {
  color: rgb(67, 0, 122);
}

li a.active {
  background-color: rgba(233, 229, 238, 0.342);
}

li a.active svg {
  color: rgb(67, 0, 122);
}